BODY {
	FONT: 12px 宋体
}
TH {
	FONT: 12px 宋体
}
TD {
	FONT: 12px 宋体
}
BODY {
	PADDING-RIGHT: 14px; PADDING-LEFT: 10px; SCROLLBAR-FACE-COLOR: #72a3d0; BACKGROUND: #eef2fb; PADDING-BOTTOM: 10px; MARGIN: 0px; SCROLLBAR-HIGHLIGHT-COLOR: #337abb; SCROLLBAR-SHADOW-COLOR: #337abb; SCROLLBAR-3DLIGHT-COLOR: #337abb; SCROLLBAR-ARROW-COLOR: #ffffff; PADDING-TOP: 10px; SCROLLBAR-TRACK-COLOR: #337ec0; SCROLLBAR-DARKSHADOW-COLOR: #337abb
}
A {
	COLOR: #135294; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff6600; TEXT-DECORATION: underline
}
TD {
	BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #fff 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 12px; BACKGROUND: #eef7fd; PADDING-BOTTOM: 2px; BORDER-LEFT: #fff 1px solid; COLOR: #135294; LINE-HEIGHT: 20px; PADDING-TOP: 2px; BORDER-BOTTOM: #fff 1px solid; HEIGHT: 24px
}
.td_title {
	BORDER-RIGHT: #fff 1px solid;
	BORDER-TOP: #fff 1px solid;
	PADDING-LEFT: 20px;
	BACKGROUND: #fff;
	BORDER-LEFT: #fff 1px solid;
	COLOR: #135294;
	LINE-HEIGHT: 36px;
	BORDER-BOTTOM: #fff 1px solid;
	HEIGHT: 36px;
	TEXT-ALIGN: left;
	font-weight:bolder;
	font-size: 18px;
}
.td_title1 {
	BORDER-RIGHT: #fff 1px solid; BORDER-TOP: #fff 1px solid; PADDING-LEFT: 20px; BACKGROUND: #fff; BORDER-LEFT: #fff 1px solid; COLOR: #135294; BORDER-BOTTOM: #fff 1px solid; TEXT-ALIGN: left;FONT: 12px;
}
.td_title2 {
	BORDER-RIGHT: #fff 1px solid; BORDER-TOP: #fff 1px solid; PADDING-LEFT: 20px; BACKGROUND: #fff; BORDER-LEFT: #fff 1px solid; COLOR: #135294; LINE-HEIGHT: 35px; BORDER-BOTTOM: #fff 1px solid; HEIGHT: 35px; TEXT-ALIGN: left;FONT: 18px; font-weight:bolder
}
TH {
	BORDER-RIGHT: #fff 1px solid; BORDER-TOP: #fff 1px solid; PADDING-LEFT: 20px; FONT-WEIGHT: bold; BACKGROUND: #fff; BORDER-LEFT: #fff 1px solid; COLOR: #135294; LINE-HEIGHT: 26px; BORDER-BOTTOM: #fff 1px solid; HEIGHT: 26px; TEXT-ALIGN: left
}
TD.td1 {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; BACKGROUND: #f1f3f5; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
.BUTTON {
	BORDER-RIGHT: #c6d2e3 1px solid; BORDER-TOP: #c6d2e3 1px solid; FONT-SIZE: 12px; BACKGROUND: url(../images/button_bg.gif); BORDER-LEFT: #c6d2e3 1px solid; LINE-HEIGHT: 21px; BORDER-BOTTOM: #c6d2e3 1px solid; HEIGHT: 21px
}
.button_on {
	BORDER-RIGHT: #c3a336 1px solid; BORDER-TOP: #c3a336 1px solid; BACKGROUND: url(../images/button_bg2.gif); BORDER-LEFT: #c3a336 1px solid; BORDER-BOTTOM: #c3a336 1px solid
}
TD.td2 {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; BACKGROUND: #e4edf9; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
.BUTTON {
	BORDER-RIGHT: #c6d2e3 1px solid; BORDER-TOP: #c6d2e3 1px solid; FONT-SIZE: 12px; BACKGROUND: url(../images/button_bg.gif); BORDER-LEFT: #c6d2e3 1px solid; LINE-HEIGHT: 21px; BORDER-BOTTOM: #c6d2e3 1px solid; HEIGHT: 21px
}
.button_on {
	BORDER-RIGHT: #c3a336 1px solid; BORDER-TOP: #c3a336 1px solid; BACKGROUND: url(../images/button_bg2.gif); BORDER-LEFT: #c3a336 1px solid; BORDER-BOTTOM: #c3a336 1px solid
}

.radio {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none
}

.helplink {
	CURSOR: help
}
.menuskin {
	BORDER-RIGHT: #666666 1px solid; BORDER-TOP: #666666 1px solid; BACKGROUND-IMAGE: url(../skins/default/dvmenubg3.gif); VISIBILITY: hidden; FONT: 12px Verdana; BORDER-LEFT: #666666 1px solid; BORDER-BOTTOM: #666666 1px solid; BACKGROUND-REPEAT: repeat-y; POSITION: absolute; BACKGROUND-COLOR: #efefef
}
.menuskin A {
	PADDING-RIGHT: 10px; PADDING-LEFT: 25px; BEHAVIOR: url(inc/noline.htc); COLOR: black; TEXT-DECORATION: none
}
#mouseoverstyle {
	BORDER-RIGHT: red 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: red 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 2px; BORDER-LEFT: red 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: red 1px solid; BACKGROUND-COLOR: #c9d5e7
}
#mouseoverstyle A {
	COLOR: black
}
.menuitems {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; MARGIN: 2px; WORD-BREAK: keep-all; PADDING-TOP: 1px
}
.title {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-VARIANT: normal
}
.font1 {
	COLOR: #aaaaaa
}
.font2 {
	COLOR: red
}
.TextBoxFocus {
	BORDER-RIGHT: #339900 1px solid; BORDER-TOP: #339900 1px solid; BORDER-LEFT: #339900 1px solid; BORDER-BOTTOM: #339900 1px solid; BACKGROUND-COLOR: #fffff0
}
INPUT2{
	BORDER-RIGHT: #bdc5ca 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #6f787e 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 12px; PADDING-BOTTOM: 3px; BORDER-LEFT: #6f787e 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #bdc5ca 1px solid
}
.input0 {
	BORDER-RIGHT: #bdc5ca 1px solid; BORDER-TOP: #bdc5ca 1px solid; BACKGROUND: url(../images/button_bg.gif); BORDER-LEFT: #bdc5ca 1px solid; BORDER-BOTTOM: #bdc5ca 1px solid
}
.input_on {
	BORDER-RIGHT: #c3a336 1px solid; BORDER-TOP: #c3a336 1px solid; BACKGROUND: url(/images/button_bg2.gif); BORDER-LEFT: #c3a336 1px solid; BORDER-BOTTOM: #c3a336 1px solid
}
